@font-face {
    font-family: 'Gunship 3D';
    src: url('gun4fs.ttf');
}
h2 {
    font-family: "Gunship 3D";
    font-style: italic;
}
h1, p, h3, h4, h5, h6, td {
    font-family: Helvetica;
}
#copyright-statement {
    font-weight: 800;
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
