@font-face {
    font-family: 'Gunship 3D';
    src: url('gun4fs.ttf');
}
@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
h2 {
    font-family: "Gunship 3D";
    font-style: italic;
}
h1, p, h3, h4, h5, h6, td {
    font-family: Helvetica;
}
#gh-source {
    font-size: 2.2em;
    text-align: center;
}
body {
    background-image: url(bg.svg);
}
#top-bar {
    position: absolute;
    background-color: cyan;
}

#copyright-statement {
    font-weight: 900;
    text-align: center;
    font-size: 1.7em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}